@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik; }

p {
  font-family: Roboto; }

#home {
  background: url("../img/costume1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  min-height: 700px; }
  #home h1 {
    padding-top: 350px; }
