@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: Rubik; }

p {
  margin: 0px;
  font-family: Roboto; }

.hide {
  visibility: hidden; }

#home {
  background: url("../img/costume1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  min-height: 700px; }
  #home h1 {
    padding-top: 10px;
    color: white; }

#product {
  background-color: #8715ff; }

#company {
  background-color: #5758ff; }

#history {
  background-color: #328cff; }

#contact {
  background-color: #10bcff; }
