@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik;
  color: red; }

p {
  font-family: Roboto; }

.hide {
  visibility: hidden; }

#home {
  background: url("../img/costume1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  min-height: 700px; }
  #home h1 {
    padding-top: 10px; }
  #home #product {
    background-color: #2305fd; }
  #home #company {
    background-color: #19b00c; }
  #home #history {
    background-color: #26ca18; }
  #home #contact h1 {
    color: blue; }
