// imports
@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");

// variables
$primary-color: #2305fd;
$secondary-color: #19b00c;
$third-color: #26ca18;
$font1-color: #fd791e;
$font2-color: #2815b0;
$headline-font: Rubik;
$text-font: Roboto;

// Showcase Carousel
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font;
  color: red;
}
p {
  font-family: $text-font;
}

.hide {
  visibility: hidden;
}

#home {
  background: url("../img/costume1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  min-height: 700px;

  h1 {
    padding-top: 10px;
  }

  #product {
    background-color: $primary-color;
  }

  #company {
    background-color: $secondary-color;
  }

  #history {
    background-color: $third-color;
  }

  #contact {
    h1 {
      color: blue;
    }
  }
}
