// imports
@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");

// variables
$primary-color: #8715ff;
$secondary-color: #5758ff;
$third-color: #328cff;
$font1-color: #20a5ff;
$font2-color: #10bcff;
$headline-font: Rubik;
$text-font: Roboto;

// Showcase Carousel
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: $headline-font;
}
p {
  margin: 0px;
  font-family: $text-font;
}

.hide {
  visibility: hidden;
}

#home {
  background: url("../img/costume1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  min-height: 700px;

  h1 {
    padding-top: 10px;
    color: white;
  }
}
#product {
  background-color: $primary-color;
}

#company {
  background-color: $secondary-color;
}

#history {
  background-color: $third-color;
}

#contact {
  background-color: $font2-color;
}
